
.App-logo {
  height: 60px;
  width: 60px;
}

.sidebar-logo {
  height: 80px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: flex;
  position: relative;
  height: 100%;
}

.app main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  /* border-color: blueviolet; */
  /* border-width: 5px; */
  /* border-style: solid; */
  background-color: #CCD755;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 99.3%;
  z-index: 9999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  -width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 90%;
  overflow: auto;
  white-space: nowrap;
  transition: 0.3s;
}

.sidebar li a {
  list-style-type: none;
  display: block;
  color: black;
  /* padding: 16px; */
  text-decoration: none;
  z-index: 9999;
}

.sidebar li a svg{
  padding-right: 15px;
  transition: 0.3s;
}

.end-sidebar {
  width: 270px;
  height: 50px;
  display: block;
  position: fixed;
  background-color: rgb(26, 26, 26);
  text-align: right;
  bottom: 0;
  visibility: visible;
  transition: 0.3s;
}

.shrink-sidebar {
  width: 50px;
  display: flex!important;
  overflow: hidden!important;
  white-space: nowrap;
  transition: 0.3s;
}

.shrink-sidebar li a svg {
  padding-right: 50px;
  transition: 0.3s;
}

.shrink-sidebar .end-sidebar {
  width: 50px!important;
  display: block;
  position: fixed;
  background-color: rgb(26, 26, 26);
  text-align: center;
  bottom: 0;
  visibility: visible;
  transition: 0.3s;
}

.collapsed .end-sidebar {
  width: 80px!important;
  display: block;
  position: fixed;
  background-color: rgb(26, 26, 26);
  text-align: center;
  bottom: 0;
  visibility: visible;
  transition: 0.3s;
}

/* Active/current link */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar li:hover:not(.active) {
  background-color: #0047cc;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-top: 75px;
  margin-left: 265px;
  padding: 1px 16px;
  height: 1000px;
  transition: 0.3s;
}

.shrink-sidebar .content {
  margin-top: 75px;
  margin-left: 40px;
  padding: 1px 16px;
  height: 1000px;
}

.shrink-page {
  margin-left: 70px!important;
  transition: 0.3s;
}

.menu-button {
  display: none;
  visibility: hidden;
}
.user-icon {
  top: 6px;
  right: 7px;
  width: 60px;
  height: 60px;
  border-radius: 50px!important;
  position: fixed;
  align-items: center;
}

.bottom-bar {
  bottom: 0px;
  margin-bottom: 0px;
  margin-left: -5px!important;
  padding-left: 10px;
  width: 90.5%;
  height: 40px!important;
  position: fixed;
  overflow: hidden;
  display: block;
  /* background-color: lime; */
}

.shrink-page .bottom-bar {
  margin-left: -5px!important;
}

.before-bottom-bar {
  min-height: 100%;
  margin-bottom: -200px;
}

.content input {
  margin-right: 10px;
}

.popup-content{
  background-color: #292d3e!important;
  border: 1px solid #464545!important;
  color:ivory!important;
}

.popup-content .popup-buttons{
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.popup-content .popup-buttons button{
  max-width: 200px;
  margin-right: 20px;
}

.close {
  cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    right: -10px;
    top: -10px;
    font-size: 12px;
    border-radius: 18px;
    border: 1px solid #cfcece;
    background-color: slategrey;
}

.add-button {
  float: right;
  width: 160px;
  height: 50px;
  position: relative;
  display: block;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background: #52c8fa;
  color: white;
  font-size: 20px;
  transition: 0.4s;
}

.add-button:hover {
  background: #0077CC;
  transition: 0.4s;
}

/* Input form aggiungi e modifica */
.input-form input {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(0,0,0,0.05);
  border: none;
  transition: background 0.5s;
}

.input-form select {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(0,0,0,0.05);
  border: none;
  transition: background 0.5s;
}

.input-form input:focus{
  outline-width: 0;
  background: rgba(31,134,252, 0.15);
  transition: background 0.5s;
}

.input-form label{
  padding-left: 8px;
  font-size: 15px;
  color: #444;
}

.input-form button{
  width: 160px;
  height: 50px;
  position: relative;
  display: block;
  float: left;
  margin: 20px auto;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background: #52c8fa;
  color: white;
  font-size: 20px;
  transition: background 0.4s;
  cursor: pointer;
}

.input-form button i{
  font-size: 20px;
}

.input-form button:hover{
  background: #0047cc;
  transition: background 0.4s;
}

.input-form div{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url(https://i.imgur.com/GnyDvKN.png);
  border: 1px solid;
  margin: 10px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
}
/* FINE */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    left: -300px;
    z-index: 9999!important;
    transition: left 0.7s;
  }
  .mobile-active{
    left: 0px!important;
    width: 270px;
    transition: left 0.7s;
  }
  .sidebar li {list-style-type: none;}
  div.content {margin-left: 0;}

  .menu-button {
    display: initial;
    visibility: visible;
    position: fixed;
    top: 2.5px;
    right: 0px;
  }

  .menu-button img{
    height: 60px;
    width: 60px;
  }

  .end-sidebar {
    display: none;
    visibility: hidden;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
